Repository podkrepi-bg/frontend, pull requests merged in 2021-06, with the labels that each got.

#212 Fix
  frontend/public/locales/en/index.json
Labels: frontend, good first issue

#210 Add English translation and keys to "what is done" section on about page.
  frontend/public/locales/bg/about-project.json
  frontend/public/locales/bg/common.json
  frontend/public/locales/en/about-project.json
  frontend/public/locales/en/common.json
  frontend/src/components/about-project/sections/WhatIsDone.tsx
Labels: frontend, good first issue, request for comments

#256 Added protoc tools install instructions
  backend/.insomnia/Insomnia_2021-06-10.yml
  backend/.insomnia/README.md
  backend/Taskfile.yml
Labels: help wanted

#278 Add Typography component with ID and link button
  frontend/src/components/about-project/sections/TechStack.tsx
  frontend/src/components/about-project/sections/Timeline.tsx
  frontend/src/components/about-project/sections/WhatIsDone.tsx
  frontend/src/components/about/DiscordImage.tsx
  frontend/src/components/about/sections/PrinciplesThatUniteUs.tsx
  frontend/src/components/common/Heading.tsx
  frontend/src/components/index/sections/ActivitySection.tsx
  frontend/src/components/index/sections/Jumbotron.tsx
  frontend/src/components/index/sections/TeamChartSection.tsx
  frontend/src/components/index/sections/TeamSection.tsx
Labels: frontend, good first issue
